<div class="container p-2 m-2">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Restaurants</h1>
  </div>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
    <div class="card-product m-4">
      <%= image_tag "https://loremflickr.com/320/240/#{restaurant.category}" %>
      <div class="card-product-infos">
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p><%=restaurant.address%></p>
        <p><%=restaurant.category%></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
